body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3D2C8D;
}

.header {
    background-color: #916BBF;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    box-shadow: 5px 5px 5px -2px #C996CC;
    color:#3D2C8D;
    font-size: larger;
}

.container {
    height: 75vh;
    grid-column: 2/3;
}

.game-info {
    text-align: center;
    color:#C996CC;
    font-size: 30px;
}

.game-board {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-column: 2/3;
    margin-top: 5vh;
    min-width: 350px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C996CC;
    height: 15vh;
    font-size: 60px;
    border-radius: 20px;
}

.grid-item:hover{
    background-color: #FBCAFF;
    box-shadow: 5px 5px 5px -2px #C996CC;
}

.restart-container {
    display: flex;
    justify-content: center;
    background-color: #3D2C8D;
    margin-top: 3vh;
}

.restart {
    height: 8vh;
    width: 10vw;
    min-width: 105px;
    border-radius: 20px;
    background-color: #C996CC;
    box-shadow: 5px 5px 5px -2px #916BBF;
}

footer {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.footer {
    margin-right: 5px;
}

.github-logo:hover{
    animation: roll 3s;
    transform: rotate(720deg) ;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg)
    }
}