body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #3D2C8D;
}

.header {
    background-color: #916BBF;
    display: flex;
    justify-content: center;
    grid-column: 1/4;


}

.container {
    grid-column: 2/3;
}

.game-board {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-column: 2/3;
    margin-top: 10vh;
}

.grid-item {
    background-color: #C996CC;
    height: 15vh;
    border-radius: 10%;

}

.restart-container {
    display: flex;
    justify-content: center;
    background-color: #3D2C8D;
    margin-top: 5vh;
}

.restart {
    height: 5vh;
    width: 10vw;
    border-radius: 15%;
    background-color: #C996CC;
}